
#intro {
    color: blanchedalmond;
    font-size: 2em;
    width: 600px;
    height: 800px;
    background-image: url("https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    opacity: 0.5;
}


h2 + ol {
    color: mediumaquamarine;
}

a[href="https://del-villaggio.co.uk/index.php/top-10-interesting-facts-about-italian-cuisine/"]{
    background-color: rgba(200,50,60,0.3);
}

body {
}


